.container {
  margin-left: 50px;
  width: 30%;
  padding: 2px;
  border: 5px solid rgb(23, 29, 222);
}
img {
  height: 150px;
}
.description {
  font-size: 20px;
}
#cook-time {
  font-weight: bold;
}
p.time {
  color: gray;
}
.citation a {
  color: SeaGreen;
}
h1,
h2,
p,
li {
  font-family: Helvetica;
}
